<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="https://bootswatch.com/5/lux/bootstrap.min.css">
    <title>Title</title>
</head>
<body>
<div th:fragment="empty_table">
    <table class="table table-striped">
        <tr class="table-header">
            <th th:text="#{search.table.description}">Description</th>
            <th th:text="#{search.table.name}">Name</th>
            <th th:text="#{search.table.color}">Color</th>
            <th th:text="#{search.table.date}">Last seen date</th>
        </tr>
        <tr>
            <td align="center" colspan="4" th:text="#{search.table.empty}">No results</td>
        </tr>
    </table>
</div>

<div th:fragment="empty_table_with_actions">
    <table class="table table-striped">
        <tr class="table-header">
            <th th:text="#{search.table.name}">Name</th>
            <th th:text="#{search.table.date}">Last seen date</th>
            <th th:text="#{search.table.actions}">Actions</th>

        </tr>
        <tr>
            <td colspan="3">No results</td>
        </tr>
    </table>
</div>
</body>
</html>