<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:fragment="value_table">
    <table class="table table-striped">
        <tr class="table-header">
            <th th:text="#{search.table.description}">Description</th>
            <th th:text="#{search.table.name}">Name</th>
            <th th:text="#{search.table.color}">Color</th>
            <th th:text="#{search.table.date}">Last seen date</th>
        </tr>
        <tr th:each="pet: ${pets}">
            <td th:text="${#strings.capitalize(#strings.toLowerCase(pet.type))}">Description</td>
            <td th:text="${#strings.isEmpty(pet.name) ? 'N/A' : pet.name}">Name</td>
            <td th:text="${#strings.isEmpty(pet.color) ? 'N/A' : #strings.capitalize(#strings.toLowerCase(pet.color))}">Name</td>
            <td th:text="${#temporals.format(pet.lastSeenDate, 'dd-MM-yyyy HH:mm')}">Last Seen Date</td>
        </tr>
    </table>
</div>

<td th:fragment="address">
    <div th:if="${pet.humanReadableAddress}"
         th:text="${pet.humanReadableAddress.street}+' '+${pet.humanReadableAddress.streetNumber}"></div>
    <div th:if="${pet.humanReadableAddress}" th:text="${pet.humanReadableAddress.zipCode}"></div>
</td>

<div th:fragment="value_table_with_actions">
    <table class="table table-striped">
        <tr class="table-header">
            <th th:text="#{search.table.description}">Description</th>
            <th th:text="#{search.table.name}">Name</th>
            <th th:text="#{search.table.date}">Last seen date</th>
            <th th:text="#{search.table.actions}">Actions</th>
        </tr>
        <tr th:each="pet: ${pets}">
            <td th:text="${pet.type}">Description</td>
            <td th:text="${#strings.isEmpty(pet.name) ? 'N/A' : pet.name}">Name</td>
            <td th:text="${#temporals.format(pet.lastSeenDate, 'dd-MM-yyyy HH:mm')}">Last Seen Date</td>
            <td>
                <!--<a data-toggle="modal" data-target="#modal-warning"
                   th:attr="data-target='#modal-warning'+${pet.id }"><span
                        class="glyphicon glyphicon-trash"></span></a>-->
                <button class="btn btn-danger" data-bs-toggle="modal" th:attr="data-bs-target='#modal-warning'+${pet.id }">Delete
                </button>
            </td>
            <th:block th:replace="~{fragments/delete-warning::modal('modal-warning'+${pet.id})}">modal</th:block>
        </tr>
    </table>
</div>
</body>
</html>