<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Track Rejoice</title>
</head>
<body>
<div>
  <h2>Please Login</h2>
  <br/>
</div>

<div class="container unauthenticated">
  <a th:href="/@{/oauth2/authorization/google}">Login with Google</a>
</div>
<div class="container authenticated" style="display:none">
  Logged in as: <span id="user"></span>
</div>
<script type="text/javascript">
  $.get("/user", function(data) {
    $("#user").html(data.name);
    $(".unauthenticated").hide()
    $(".authenticated").show()
  });
</script>
<!--<form th:action="@{/login}" method="post" style="max-width: 400px; margin: 0 auto;">
  <div class="border border-secondary rounded p-3">
    <div th:if="${param.error}">
      <p class="text-danger">Invalid username or password.</p>
    </div>
    <div th:if="${param.logout}">
      <p class="text-warning">You have been logged out.</p>
    </div>
    <div>
      <p><input type="email" name="email" required class="form-control" placeholder="E-mail" /></p>
    </div>
    <div>
      <p><input type="password" name="pass" required class="form-control" placeholder="Password" /></p>
    </div>
    <div>
      <p><input type="submit" value="Login" class="btn btn-primary" /></p>
    </div>
  </div>
</form>-->
</body>
</html>