<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <title th:utext="#{label.pages.home.title}">Title</title>
    <script th:inline="javascript">
        function validate() {
            if (document.f.username.value == "" && document.f.password.value == "") {
                alert(/*[[#{message.username} + #{message.password}]]*/);
                document.f.username.focus();
                return false;
            }
            if (document.f.username.value == "") {
                alert(/*[[#{message.username}]]*/);
                document.f.username.focus();
                return false;
            }
            if (document.f.password.value == "") {
                alert(/*[[#{message.password}]]*/);
                document.f.password.focus();
                return false;
            }
        }

    </script>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body style="background: url('https://trackrejoice-public-01.s3.eu-west-3.amazonaws.com/background.png'); margin: auto; background-size: contain; ">
<p th:if="${message != null}" id="message-timer" class="alert alert-info">
    <i class="fa fa-check" aria-hidden="true"></i> &nbsp;
    <span th:utext="${message}">message</span>
</p>


<div th:if="${error != null}" class="alert alert-danger" th:utext="${session['SPRING_SECURITY_LAST_EXCEPTION']}">error
</div>

<div class="container">
    <div class="row wrapper" style="background: #f0f0f0; opacity: 0.96; max-width: 300px; margin: auto">
        <h1 th:utext="#{label.form.loginTitle}" style="text-align: center">Header</h1>
        <h3 th:utext="#{label.form.subtitle}" style="text-align: center">Header</h3>
        <a href="?lang=en" th:utext="#{label.form.loginEnglish}">login</a> |
        <a href="?lang=nl" th:utext="#{label.form.loginDutch}">login</a>
        <br/>
        <div class="content">
            <form name='f' th:action="@{/login}" method='POST' class="login-form">
                <span id="welcometext">&nbsp;</span>

                <br/><br/>
                <p>
                <label for="username" class="screenreader" th:utext="#{label.form.loginEmail}">Email</label>
                <input type='text' class="form-control"  name='username' value='' id="username" th:placeholder="#{label.form.loginEmail}" required autofocus autocomplete="off"/>
                </p>
                <br/>
                <p>
                <label class="screenreader" for="password" th:utext="#{label.form.loginPass}">password</label>
                <input class="form-control" type='password' name='password' id="password" th:placeholder="#{label.form.loginPass}" required autocomplete="off"/>
                </p>
                <p>
                    <label for="remember-me">Remember me:</label>
                    <input type="checkbox" id="remember-me" name="remember-me">
                </p>
                <br/>
                <label class="col-sm-4" th:remove="all" th:utext="#{label.form.login2fa}">Google Authenticator
                    Verification
                    Code</label>
                <span class="col-sm-8" th:remove="all"><input class="form-control" type='text' name='code'/></span>
                <br/>
                <input class="btn btn-primary" style="display: block; margin: 0 auto;" name="submit" type="submit"
                       th:value="#{label.form.submit}"/>

            </form>

            <p style="text-align: center">OR</p>

            <!-- OAuth2 Login -->
            <a th:href="@{/oauth2/authorization/google}">
                <button class="oauth-btn" style="display: block; margin: 0 auto;">Login with Google</button>
            </a>
        </div>
        <br/> <span th:remove="all">Current Locale :  <span th:utext="${#locale}"></span><br/><br/></span>
        <a class="btn btn-default" th:remove="all" th:href="@{/register}"
           th:utext="#{label.form.loginSignUp}">signup</a>

        <a class="btn btn-default" th:remove="all" th:href="@{/registrationCaptcha.html}"
           th:utext="#{label.form.loginSignUpCaptcha}">captcha signup</a>

        <a class="btn btn-default" th:href="@{/register-v3}" th:utext="#{label.form.loginSignUpReCaptchaV3}">recaptcha
            v3 signup</a>
        <br/>
        <a class="btn btn-default" th:href="@{/password-forget.html}" th:utext="#{message.resetPassword}">reset</a>
    </div>
</div>
</body>
<script src="/js/login.js"></script>
</html>