<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Checkout</title>
    <link rel="shortcut icon" type="image/x-icon" href="docs/images/favicon.ico"/>

    <link rel="stylesheet" type="text/css" href="https://bootswatch.com/5/lux/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.2.1/dist/js/bootstrap.min.js"
            integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
            crossorigin="anonymous"></script>

    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css"
          integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
          crossorigin=""/>
    <script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"
            integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew=="
            crossorigin=""></script>

    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/form-style.css">
    <link rel="stylesheet" href="/css/leaflet-geoman.css">
    <script src="/js/leaflet-geoman.js"></script>
</head>
<body>
<div th:replace="~{fragments/navbar::navbar}"></div>
<div class="container">
    <h2>Pet Search Form</h2>
    <form class="needs-validation" th:object="${petAnnouncementCommand}" th:action="@{/bolo/form/pet}" method="post"
          name="mainForm" id="mainForm">
        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
        <div class="row">
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-6">
                        <label for="name" class="form-label" th:text="#{search.form.name}">Name:</label>
                        <input type="text" class="form-control" th:class="${#fields.hasErrors('name')} ?
            'form-control is-invalid':'form-control'" id="name" th:field="*{name}" required
                               aria-describedby="nameFeedback">
                        <div id="nameFeedback" class="invalid-feedback" th:if="${#fields.hasErrors('name')}">
                            <ul>
                                <li th:each="err : ${#fields.errors('name')}" th:text="${err}"/>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <label for="phoneNumber" class="form-label" th:text="#{search.form.phoneNumber}">Phone
                            Number:</label>
                        <input type="tel" class="form-control" th:class="${#fields.hasErrors('phoneNumber')} ?
            'form-control is-invalid':'form-control'" id="phoneNumber" th:field="*{phoneNumber}" required
                               aria-describedby="phoneFeedback">
                        <div id="phoneFeedback" class="invalid-feedback" th:if="${#fields.hasErrors('phoneNumber')}">
                            <ul>
                                <li th:each="err : ${#fields.errors('phoneNumber')}" th:text="${err}"/>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4 dropdown">
                        <label for="species" class="form-label" th:text="#{search.table.species}">Species:</label>
                        <select th:unless="${#strings.equals(action, 'publish')}" name="species"
                                class="form-select"
                                th:class="${#fields.hasErrors('species')} ?'form-select is-invalid':'form-select'"
                                th:field="*{species}" id="species" required aria-describedby="speciesFeedback">
                            <option value="" selected hidden>Species</option>
                            <option value="cat" th:utext="#{pet.species.cat}"></option>
                            <option value="dog" th:utext="#{pet.species.dog}"></option>
                        </select>
                        <div id="speciesFeedback" class="invalid-feedback" th:if="${#fields.hasErrors('species')}">
                            <ul>
                                <li th:each="err : ${#fields.errors('species')}" th:text="${err}"/>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-4 dropdown">
                        <label for="sex" class="form-label" th:text="#{search.table.sex}">Sex:</label>
                        <select th:unless="${#strings.equals(action, 'publish')}" name="sex"
                                class="form-select"
                                th:class="${#fields.hasErrors('sex')} ?'form-select is-invalid':'form-select'"
                                th:field="*{sex}" id="sex" required
                                aria-describedby="sexFeedback">
                            <option value="" selected hidden>Pet Sex</option>
                            <option value="male" th:utext="#{pet.sex.male}"></option>
                            <option value="female" th:utext="#{pet.sex.female}"></option>
                        </select>
                        <div id="sexFeedback" class="invalid-feedback" th:if="${#fields.hasErrors('sex')}">
                            <ul>
                                <li th:each="err : ${#fields.errors('sex')}" th:text="${err}"/>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <label for="breed" class="form-label" th:text="#{search.form.breed}">Breed:</label>
                        <input type="text" class="form-control" th:class="${#fields.hasErrors('breed')} ?
            'form-control is-invalid':'form-control'" id="breed" th:field="*{breed}" required
                               aria-describedby="breedFeedback">
                        <div id="breedFeedback" class="invalid-feedback" th:if="${#fields.hasErrors('breed')}">
                            <ul>
                                <li th:each="err : ${#fields.errors('breed')}" th:text="${err}"/>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <label for="lastSeenDate" class="form-label" th:text="#{search.table.date}">Last
                            seen:</label>
                        <input th:type="'datetime-local'"
                               class="form-control" th:class="${#fields.hasErrors('lastSeenDate')} ?
            'form-control is-invalid':'form-control'" th:field="*{lastSeenDate}" id="lastSeenDate" required
                               aria-describedby="dateFeedback">
                        <div id="dateFeedback" class="invalid-feedback"
                             th:if="${#fields.hasErrors('lastSeenDate')}">
                            <ul>
                                <li th:each="err : ${#fields.errors('lastSeenDate')}" th:text="${err}"/>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <label for="color" class="form-label" th:text="#{search.form.color}">Color:</label>
                        <input type="text" class="form-control" th:if="${#fields.hasErrors('color')} ?
            'form-control is-invalid':'form-control'" id="color" th:field="*{color}" aria-describedby="colorFeedback">
                        <div id="colorFeedback" class="invalid-feedback" th:if="${#fields.hasErrors('color')}">
                            <ul>
                                <li th:each="err : ${#fields.errors('color')}" th:text="${err}"/>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <label for="additionalInformation" th:required="optional" class="form-label"
                               th:text="#{search.form.extra.info}">Extra
                            Info:</label>
                        <textarea class="form-control" rows="6" th:class="${#fields.hasErrors('additionalInformation')} ?
            'form-control is-invalid':'form-control'" id="additionalInformation"
                                  th:field="*{additionalInformation}" aria-describedby="extraFeedback">
                        </textarea>
                        <div id="extraFeedback" class="invalid-feedback"
                             th:if="${#fields.hasErrors('additionalInformation')}">
                            <ul>
                                <li th:each="err : ${#fields.errors('additionalInformation')}" th:text="${err}"/>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="container">
                    <div class="row">
                        <p><span th:utext="#{search.mobile.pet.text}"></span>
                            <span th:utext="#{search.mobile.pet.name.placeholder}"
                                  id="displayMessage"></span></p>
                    </div>
                    <div id="mapid" style="width: 600px; height: 400px;"></div>
                </div>
                <div th:remove="all" class="col-md-4">
                    <form th:replace="~{fragments/address::address}"></form>
                </div>
            </div>
        </div>
        <input type="text" id="lat" th:field="*{lat}" hidden aria-describedby="latFeedback">

        <div id="latFeedback"
             th:if="${#fields.hasErrors('lat')}">
            <ul>
                <li th:each="err : ${#fields.errors('lat')}" th:text="${err}"/>
            </ul>
        </div>
        <input type="text" id="lon" th:field="*{lon}" hidden aria-describedby="lonFeedback">
        <div id="lonFeedback"
             th:if="${#fields.hasErrors('lon')}">
            <ul>
                <li th:each="err : ${#fields.errors('lon')}" th:text="${err}"/>
            </ul>
        </div>
        <input type="text" id="initializedCoords" th:field="*{initializedCoords}" hidden>
        <br>

        <br>
        <br>
        <div>
            <div th:replace="~{fragments/action::create}"></div>
        </div>

    </form>
    <script th:inline="javascript">

        document.getElementById("name").addEventListener("change", _ =>
            document.getElementById("displayMessage").textContent =
                document.getElementsByName("mainForm")[0].querySelector('#name').value
        )
        var map = L.map('mapid', {
            minZoom: 1,
            maxZoom: 18,
            attributionControl: false
        })


        map.locate({setView: true, maxZoom: 18});

        L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png').addTo(map);


        map.pm.addControls({
            position: 'topleft',
            drawCircleMarker: false,
            rotateMode: false,
            drawMarker: true,
            drawPolyline: false,
            drawRectangle: false,
            drawPolygon: false,
            drawCircle: false,
            drawText: false,
            editMode: false,
            dragMode: false,
            cutPolygon: false,
            removalMode: true
        });


        let latitude = [[${petAnnouncementCommand.lat}]] || 0;
        let longitude = [[${petAnnouncementCommand.lon}]] || 0;
        let initialized = [[${petAnnouncementCommand.initializedCoords}]] || false
        let zoom = initialized ? 18 : 1
        let name = document.getElementById('name').value
        if (name && 0 < name.trim().length) {
            document.getElementById("displayMessage").textContent = name
        }

        map.setView([latitude, longitude], zoom);

        if (initialized) {
            initializeAndDisable(latitude, longitude, "Marker")
            L.marker([latitude, longitude]).addTo(map)
                .bindPopup(name).openPopup()
        }

        map.on("pm:create", (e) => {
            initializeAndDisable(e.layer._latlng.lat, e.layer._latlng.lng, e.shape)
        });

        function initializeAndDisable(lat, lng, shape) {
            document.getElementById('lat').value = lat;
            document.getElementById('lon').value = lng;
            document.getElementById('initializedCoords').value = true
            map.pm.disableDraw();
            map.pm.Toolbar.setButtonDisabled(shape, true)
        }

        map.on("pm:remove", _ => {
            map.pm.disableGlobalRemovalMode()
            document.getElementById('initializedCoords').value = false
            document.getElementById('lat').value = null
            document.getElementById('lon').value = null
            map.pm.Toolbar.setButtonDisabled('Marker', false)
        });
    </script>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
<!--<script src="/js/map.js"></script>-->
</body>
</html>